*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Pushster', cursive;
}

.winning-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.931);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease-in all;
    z-index: 1;
}

.winning-message {
    font-size: 5.125rem;
    color: white;
    transition: 1s ease-in all;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.button {
    background-color: rgb(0, 0, 0);
    color: #991414;
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    font-size: 3rem;
    border-radius: 2.5rem;
    transition: 500ms all;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
    width: 30vw;
}

.restart:hover,
.back:hover {
    cursor: pointer;
    background-color: #991414;
    color: rgb(29, 13, 13);
    border-color: black;
}

.player:hover,
.cpu:hover {
    background-color: #991414;
    ;
    color: rgb(29, 13, 13);
    cursor: pointer;
}



.title {
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.choose {
    font-size: 3rem;
}

.container {
    display: grid;
    height: 70vh;
    width: 100vw;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
}

.item {
    width: 150px;
    height: 150px;
    border: 3px solid black;
}

.item:first-child,
.item:nth-child(2),
.item:nth-child(3) {
    border-top: none;
}

.item:nth-child(3n + 3) {
    border-right: none;
}

.item:nth-child(3n + 1) {
    border-left: none;
}

.item:last-child,
.item:nth-child(8),
.item:nth-child(7) {
    border-bottom: none;
}


.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checked::after,
.checked::before {
    content: '';
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #991414;
    position: absolute;

}

.checked::after {
    width: 100px;
    height: 100px;
    background-color: white;
}

.checked2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checked2::after,
.checked2::before {
    content: '';
    width: 10px;
    height: 125px;
    background-color: black;
    position: absolute;

}

.checked2::before {
    transform: rotate(45deg);
}

.checked2::after {
    transform: rotate(-45deg);
}




/* BREAKPOINTS */
@media (max-width: 900px) {
    .button {
        width: auto;
    }

    .container {
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(3, 100px);
    }

    .item {
        width: 100px;
        height: 100px;
    }

    .checked::after,
    .checked::before {
        width: 90px;
        height: 90px;
    }

    .checked::after {
        width: 75px;
        height: 75px;
    }

    .checked2::after,
    .checked2::before {
        height: 100px;
    }

    

}